﻿
body {
    background: url('http://up414.siz.co.il/up2/yzmtgz0m34gy.jpg') no-repeat scroll center top / cover transparent;
	background-size:10024px auto;
	margin: 0;
    font: normal .8em/1.5em Arial, Helvetica, sans-serif;
    width:auto;
    min-width:1024px;
    padding:0;
    height:164px;
}

#top {
    color: #32A9F4;
    font-family: WPsemibold;
    font-size: 27.5px;
    font-weight: bold;
    margin: 15px 118px;
    padding: 0;
    width: 149px;
    letter-spacing: -0.9px;
    float: left;}

#shdowbutton {
    background-color: #E0E0E0;
    border: 1px solid black;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    height: 45px;
    margin: 5.3% 39.2%;
    width: 21%;}
#button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cd156', endColorstr='#3bb329');
    background: -webkit-linear-gradient(bottom, #6cd156 0%, #3bb329 100%);
    background: -moz-linear-gradient(center bottom , #6CD156 0%, #3BB329 100%) repeat scroll 0 0 transparent;
    border: 1px solid #336895;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 1px 0 #8DC2F0 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family: WPbold;
    font-size: 27px;
    height: 100%;
    letter-spacing: 0.69px;
    text-shadow: 0 -1px 0 #336895;
    width: 100%;}
#button:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 white;}



	
div.resolution {
	position:relative;
    width: 1024px;
	margin: 0 auto;}
	/*Dropdown*/
	        #nav{margin:50px;
            padding: 10px 30px 0;/*יצירת עובי מעל הטקסטים*/
			border-radius: 1em;
			-webkit-border-radius: 1em;/*עיגול  הצל ברגע שהעכבר עובר */
            -moz-border-radius: 1em;/*עיגול  הצל ברגע שהעכבר עובר */
            line-height: 100%;/*גובה הסרגל*/
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
            background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));/* for webkit browsers||רקע התבנית הראשית */
            background: -moz-linear-gradient(top,  #ffffff,  #ffffff) !important; /* for firefox 3.6+ */
            border: solid 1px #6d6d6d;}
         /*יצירת גודל התבנית והתבנית עצמה*/
        #nav li{ margin: 0 35px 0 10px;/*ברגע עבירת העכבר הצל שעל התבניות שבתוך הסרגל יהיה בנפרד ולא מחובר עם כולם*/
            padding: 0 0 8px;/*יצירת עובי מתחת לטקסטים/לסרגל*/
			right:100px;
            float:right;/*יוצר את הסרגל כעמודות*/
            position: relative;/*ברגע עבירת העכבר על התבניות שבתוך הסרגל,השורה שיורדת תהיה מתחת לתבנית הלחוצה*/
            list-style: none;
            z-index:2}
        /* main level link */
        #nav a{font-weight: bold;/*מדגיש את הטקסט*/
            color: #006699;/*לפני שהעכבר עובר צבע הטקסט בתבניות*/
            text-decoration: none;
            display: block;/*יצירת תבנית*/
            padding: 8px 20px;/*גודל התבנית*/
            margin: 0;
            border-radius: 0.5em;
            -webkit-border-radius: 0.5em;/*עיגול  הצל ברגע שהעכבר עובר */
            -moz-border-radius: 0.5em;/*עיגול  הצל ברגע שהעכבר עובר */}
        /* main level link hover */
        #nav .current a, #nav li:hover > a{background: #d1d1d1; /* for non-css3 browsers */
            background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers||הרקע בזמן עבירת העכבר על שלבים יהיה כחול ובנוסף כסוף להוספת נפח */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
            background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
            color: #ffffff;/*צבע רקע ברגע שעוברים על התבניות*/}
        /* clearfix */
        #nav:after{content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0; }

        #nav ul ul {
	  display: none;
    }

	#nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		#nav ul ul li {
			float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			#nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}
				#nav ul ul li a:hover {
					background: #4b545f;
				}

	#nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
            
            /*all the page that they not index.html*/
        .For_Text
	{width:75%;
      margin:90px 130px;
      direction:rtl;
      background-color:#ffffff;
      text-align:center;
      opacity:0.8;
    position:relative;
    border:1px solid black;
    z-index:1;
    border-radius:2em;
    -webkit-border-radius:2em;
    -moz-border-radius:2em;}
#top {
	background: url("../Photo/logo.png") no-repeat scroll center 0 transparent;
    margin: -130px auto;
    padding: 0;
    width: 149px;
	height:100%;
    float: right;}
#top2 {
    color: #9F9F9F;
    font-family: WPsemilight;
    font-size: 24.5px;
    letter-spacing: -0.9px;
    margin: 6px;}
      #h1{color:#013c5a;
        font-size:6;
        text-decoration:underline;
        font-family:Times New Roman;
        font-style:oblique;
        text-align:center;}
      p{color:#666666;
      font-size:15px;
      font-family:Arial;
      font-weight:bold;}
     .godel{width: 37%; height: 40%;}
     
 .inputs {
            padding : 5px 10px;/*יצירת נפח לתיבות הטקסט*/
            width:200px;/*רוחב תיבת הטקסט*/
            height:25px;/*גובה תיבת הטקסט*/
            border:0px;/*הבלטת תיבת הטסט ושלא תישקע פנימה*/
            background-color:#cccccc;/*צבע רקע תיבת הטקסט*/
            font-family:Arial;/*סוג הטקסט*/
            font-size:12px;/*גודל הטקסט*/
            font-weight:bold;/*הטקסט יהיה מודגש*/
            color:#013c5a;/*צבע הטקסט בתיבת הטקסט */
            margin-bottom:5px;/*יוצר מרווח בין כל תיבת טקסט*/}
                          .button3{
            padding:8px 20px;/*יוצר עובי לכפתור*/
            border:1px solid #a0acc6;/*שיקוע הכפתור ושלא יבלוט*/
            background-color:#e4e4e4;/*רקע הכפתור*/
            font-family:Arial;/*סוג הטקסט*/
            font-size:12px;/*גודל הטקסט*/
            font-weight:bold;/*הטקסט יהיה מודגש*/
            color:#013c5a;/*צבע הטקסט בכפתור*/}
   .button3:hover /*בזמן שהעכבר עובר על הכפתור*/ {
    background-color:#336699;/*רקע הכפתור*/
    color:#fff;/*צבע הטקסט*/ }
    .table {list-style:none;}
	
.options{
	color:#006699;
	font-size:12px;
	font-family: WPlight;
	text-decoration: none;
	margin:0 20px;
}

#user{
	background: url("http://up414.siz.co.il/up1/ixzmzgmdzkmt.png") no-repeat scroll center 0 transparent;
	width: 12px;
}


.possible{
	color:#006699;
	font-size:12px;
	font-family: WPlight;
	text-decoration: none;
	margin:0 0 0 -85px;
}
	
#adminIcon{
	background: url('../Photo/admin.png') center 0 no-repeat;
	}
	
#downloadIcon{
	background: url('../Photo/download.png') center 0 no-repeat;
	}
	
.classname{
	background-color:#ededed;/*רקע השכבה*/
	position:absolute;
	top: -2px;
	left: 10%;
	font-family:sans-serif;
	font-size:12px;/*גודל הטקסט*/
	padding:6px 30px;/*מרווח בין כל התאים*/
	margin:-150px -150px 0;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
    -webkit-border-bottom-left-radius:2em;
	-webkit-border-bottom-right-radius:2em;
}


.testTable {
  display: table;
  padding: 0px;
}

.testRow {
  display: table-row;
}

.testRow > span {
  list-style:none;
  display: table-cell;
  border: 1px solid #000;
  padding: 2px 6px;
  width:500px;
}

.testHeader {
  display: table-header-group;
  /*position: absolute;*/
}

.testHeader span {
  background-color: #ccc;
}

.testBody {
  display: table-row-group;
}