<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>add new employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    <ul id="nav">
        <li><a href="{{ url_for('showAllEmployees') }}">הצגת עובדים</a></li>
        <li><a href="{{ url_for('addNewEmployee') }}">הוספת עובדים</a></li>
        <li><a href="{{ url_for('showAllItems') }}">הצגת פריטים</a></li>
        <li><a href="{{ url_for('addNewItem') }}">הוספת פריטים</a></li>
		<li><a href="{{ url_for('showItemRequests') }}">הצגת בקשות פריטים</a></li>
	</ul>
</header>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
<body>
    <div class="For_Text">
        <p class="center"><h3>הוספת עובד חדש</h3></p><br />
        <form align="center" name = "addNewEmployee"  method="post" action="{{ url_for('addNewEmployee') }}">
            <ul class="table">
                מספר זהות:<li><input type = "text" class="inputs" name ="mispar_zihuy" maxlength = "20" value = "{{ request.form.mispar_zihuy }}" /></li>
                שם פרטי:<li><input type = "text" class="inputs" name ="first_name" maxlength = "20" value = "{{ request.form.first_name }}" /></li>
                שם משפחה:<li><input type = "text" class="inputs" name ="last_name" maxlength = "20" value = "{{ request.form.last_name }}" /></li>
                האם מנהל:<li><input type="checkbox" name="is_manager" value="1"></li>
                <input type="submit" name="add"  value="add" class = "button3"/>
            </ul>



            {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>