<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Home - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    <ul id="nav">
        <li><a href="{{ url_for('showAllEmployees') }}">הצגת עובדים</a></li>
        <li><a href="{{ url_for('addNewEmployee') }}">הוספת עובדים</a></li>
        <li><a href="{{ url_for('showAllItems') }}">הצגת פריטים</a></li>
        <li><a href="{{ url_for('addNewItem') }}">הוספת פריטים</a></li>
		<li><a href="{{ url_for('showItemRequests') }}">הצגת בקשות פריטים</a></li>
	</ul>
</header>
<div class="resolution" >
    <div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

        <span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
    </div>

</div>
<body>

</body>
</html>