<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Order Page</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
	<ul id="nav">
		<li><a href="{{ url_for('createOrder') }}">ביצוע הזמנה</a></li>
		<li><a href="{{ url_for('orderHistory') }}">היסטוריית הזמנות</a></li>
		<li><a href="{{ url_for('itemRequest') }}">בקשת פריט חסר</a></li>
	</ul>
    </header>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עידו <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}
			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
	<div class="For_Text">
        <p class="center"><h3>יצירת הזמנה</h3></p><br />
        <form action="{{ url_for('createOrder') }}" method="POST">
            <ul class="testTable">
                <div class="testHeader">
                    <li class="testRow">
                        <span>מספר פריט</span>
                        <span>תיאור</span>
                        <span>בחר</span>
                    </li>
                </div>

                <div class="testBody">
                    {% for row in result %}
                    <li class="testRow">
                        <span>{{ row['itemId'] }}</span>
                        <span>{{ row['description'] }}</span>
                        <span><input type="checkbox" name="items[]" value={{ row['itemId'] }}></span>
                    </li>
                    {% endfor %}
                </div>
            </ul>
            <input type="submit" name="send"  value="send" class = "button3"/>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
                {% endif %}
            {% endwith %}
        </form>
	</div>

</body>
</html>
