<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>employees view</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    <ul id="nav">
        <li><a href="{{ url_for('showAllEmployees') }}">הצגת עובדים</a></li>
        <li><a href="{{ url_for('addNewEmployee') }}">הוספת עובדים</a></li>
        <li><a href="{{ url_for('showAllItems') }}">הצגת פריטים</a></li>
        <li><a href="{{ url_for('addNewItem') }}">הוספת פריטים</a></li>
		<li><a href="{{ url_for('showItemRequests') }}">הצגת בקשות פריטים</a></li>
	</ul>
</header>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
<body>
	<div class="For_Text">
        <p class="center"><h3>הצגת כל העובדים</h3></p><br />
        <form action="{{ url_for('showAllEmployees') }}" method="POST">
            <ul class="testTable">
                <div class="testHeader">
                    <li class="testRow">
                        <span>מספר עובד</span>
                        <span>תעודת זהות</span>
                        <span>שם פרטי</span>
                        <span>שם משפחה</span>
                        <span>האם מנהל?</span>
                        <span>מחיקה</span>
                    </li>
                </div>
                <div class="testBody">
                    {% for row in result %}
                    <li class="testRow">
                        <span>{{ row['employeeId'] }}</span>
                        <span>{{ row['mispar_zihuy'] }}</span>
                        <span>{{ row['first_name'] }}</span>
                        <span>{{ row['last_name'] }}</span>
                        <span>{{ row['is_manager'] }}</span>
                        {% if row['is_manager'] == "no" %}
                            <span><input type="checkbox" name="deleteId[]" value={{ row['employeeId'] }}></span>
                        {% endif %}
                    </li>
                    {% endfor %}

                    </li>
                </div>
            </ul>
            <input type="submit" name="remove"  value="remove" class = "button3"/>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
                {% endif %}
            {% endwith %}
        </form>
	</div>
</body>
</html>