<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<header>
    <ul id="nav">
		<li><a href="{{ url_for('createOrder') }}">ביצוע הזמנה</a></li>
		<li><a href="{{ url_for('orderHistory') }}">היסטוריית הזמנות</a></li>
		<li><a href="{{ url_for('itemRequest') }}">בקשת פריט חסר</a></li>
	</ul>
</header>
<div class="resolution" >
    <div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

        <span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
    </div>

</div>
<body>

</body>
</html>
