<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<header>
</header>
        <div data-role="page" id="welcome" data-url="{{ url_for('indexNotLogedIn') }}">
        <div class="For_Text">

            <p class="center"><h3>נראה שאתה לא מחובר,כדי לצפות במידע שלך אתה צריך להתחבר. לדף ההתחברות לחץ <a href="{{ url_for('login') }}">כאן</a>  </h3></p><br />
        </div>
</body>
</html>