<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>item request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
	<ul id="nav">
		<li><a href="{{ url_for('createOrder') }}">ביצוע הזמנה</a></li>
		<li><a href="{{ url_for('orderHistory') }}">היסטוריית הזמנות</a></li>
		<li><a href="{{ url_for('itemRequest') }}">בקשת פריט חסר</a></li>
	</ul>
    </header>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
<div class="resolution" >
	<div class="For_Text">
        <p class="center"><h3>בקשת פריט</h3></p><br />
        <form action="{{ url_for('itemRequest') }}" method="POST">
            <ul class="table">
               פריט מבוקש:<li><input type = "text" class="inputs" name ="item" maxlength = "20" /></li>
               <input type="submit" name="send"  value="בקש" class = "button3"/>
            </ul>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}
	</div>
	</div>

</body>
</html>
