<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
            <div data-role="page" id="welcome" data-url="{{ url_for('login') }}">
            <div class="For_Text">
            <p class="center"><h3>ברוכים הבאים למערכת הזמנת אוכל</h3></p><br />
            <form name = "login"  method="post" action="{{ url_for('login') }}">
                <ul class="table">
                        מספר זהות:<li><input type = "text" class="inputs" name ="mispar_zihuy" maxlength = "20" value = "{{ request.form.mispar_zihuy }}" /></li>
				<input type="submit" name="login_button"  value="login" class = "button3"/>
                </ul>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                     <script>
                        var messages = {{ messages | safe }};
                        for (var i=0; i<messages.length; i++) {
                            alert(messages[i]);
                        }
                    </script>
                    {% endif %}
                {% endwith %}
            </form>
            </div>
            </div>
</body>
</html>
