<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Logout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
</header>
<div class="resolution" >
	<div class="For_Text">
		<p>You are not loged in. Click <a href="{{ url_for('login') }}">here</a> to login</p>
	</div>
</div>

</body>
</html>
