<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>order history</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    <ul id="nav">
		<li><a href="{{ url_for('createOrder') }}">ביצוע הזמנה</a></li>
		<li><a href="{{ url_for('orderHistory') }}">היסטוריית הזמנות</a></li>
		<li><a href="{{ url_for('itemRequest') }}">בקשת פריט חסר</a></li>
	</ul>
</header>
<body>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
	<div class="For_Text">
        <p class="center"><h3>היסטוריית הזמנות</h3></p><br />
		<ul class="testTable">
			<div class="testHeader">
				<li class="testRow">
					<span>מספר הזמנה</span>
					<span>תאריך הזמנה</span>
					<span>מספר פריט</span>
					<span>תיאור</span>
				</li>
			</div>
            <div class="testBody">
				{% for row in result %}
                <li class="testRow">
                    <span>{{ row['orderId'] }}</span>
					<span>{{ row['order_date'] }}</span>
					<span>{{ row['itemId'] }}</span>
					<span>{{ row['description'] }}</span>
                </li>
				{% endfor %}

                </li>
            </div>
        </ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}
	</div>