<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>sccuess page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<meta http-equiv="refresh" content="10;url=/"/>
</head>
<header>
    <ul id="nav">
        <li><a href="{{ url_for('showAllEmployees') }}">הצגת עובדים</a></li>
        <li><a href="{{ url_for('addNewEmployee') }}">הוספת עובדים</a></li>
        <li><a href="{{ url_for('showAllItems') }}">הצגת פריטים</a></li>
        <li><a href="{{ url_for('addNewItem') }}">הוספת פריטים</a></li>
		<li><a href="{{ url_for('showItemRequests') }}">הצגת בקשות פריטים</a></li>
	</ul>
</header>
<body>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
	<div class="resolution" >
		<div class="For_Text">
			<p>done! you will return back to home page in 10 seconds or press <a href="/"> here </a></p>
		</div>
	</div>

</body>
</html>
