<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>view items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    <ul id="nav">
        <li><a href="{{ url_for('showAllEmployees') }}">הצגת עובדים</a></li>
        <li><a href="{{ url_for('addNewEmployee') }}">הוספת עובדים</a></li>
        <li><a href="{{ url_for('showAllItems') }}">הצגת פריטים</a></li>
        <li><a href="{{ url_for('addNewItem') }}">הוספת פריטים</a></li>
		<li><a href="{{ url_for('showItemRequests') }}">הצגת בקשות פריטים</a></li>
	</ul>
</header>
<body>
	<div class="resolution" >
		<div class="classname">
{#			<span class="options"> שלום עובד <img src="../static/Photo/user.png" alt="user" style="width: 12px;"></span>#}

			<span class="options"><a href="{{ url_for('logout') }}">יציאה</a></span>
		</div>
	</div>
	<div class="For_Text">
        <p class="center"><h3>הצגת כל הפריטים</h3></p><br />
		<ul class="testTable">
			<div class="testHeader">
				<li class="testRow">
					<span>מספר פריט</span>
					<span>תיאור</span>
				</li>
			</div>
            <div class="testBody">
				{% for row in result %}
                <li class="testRow">
                    <span>{{ row['itemId'] }}</span>
					<span>{{ row['description'] }}</span>
                </li>
				{% endfor %}

                </li>
            </div>
        </ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                 <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}
	</div>